---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
---

<LayoutDefault>
    <ul class="intro">
        <li>我是日安，原名叫「晏」，但我把它拆字當作自己的暱稱。</li>
        <li>我的個性屬於MBTI的ESTP型，做事不拘小節，也很容易和人混熟。</li>
        <li>我喜歡多方嘗試，目前的生活圈子橫跨了創業圈、程式圈和設計圈。</li>
        <li>雖然我是設計系出身，擅長剪接和動畫，但獨獨不擅長畫畫。</li>
        <li>目前我是一名自由工作者，算是一個具有商業思維的工程師。</li>
        <li>在程式技術方面，我目前擅長Javascript，喜歡使用Vue3，尤其是Composition API帶來的彈性。</li>
        <li>在生活方面，我大學畢業就結了婚，協助另一半開了一間手機修店。我們沒有小孩，主要是怕吵鬧。我曾經對工作感到迷惘，覺得管理職無法給我成就感。不過現在我找到了自己的定位。</li>
        <li>我是一個ACG文化愛好者，每季都會追番。我喜歡吃日本料理，尤其是壽司和拉麵。另一方面，我不太喜歡出門。飲食習慣上，我不吃牛羊，但很喜歡海鮮。</li>
        <li>我正在學習日文和鋼琴，雖然都還在初學階段。我覺得學習會回到原點是正常的，因為世界上本就沒有什麼東西是一學就會的。哪怕我有一大半退回去了，但我試了很多東西，有進步，這就很好。我認為人生沒有標準答案，貴在體驗和不斷嘗試，淬煉出耀眼的火花。</li>
    </ul>
</LayoutDefault>
