---
import { changeLanguage } from "i18next";
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("zh");

let contacts = [
    {
        title: "Marketing",
        email: "test@yourcompany.com",
        phone: "+1 (555) 555-5555",
    },
    {
        title: "Human Resources",
        email: "test@yourcompany.com",
        phone: "+1 (555) 555-5555",
    },
    {
        title: "Finance",
        email: "test@yourcompany.com",
        phone: "+1 (555) 555-5555",
    },
    {
        title: "Research and Development",
        email: "test@yourcompany.com",
        phone: "+1 (555) 555-5555",
    },
];
---

<Layout title="Contact">
	<Container>
		<Sectionhead>
			<Fragment slot="title">{t("privacy_policy.title")}</Fragment>
			<Fragment slot="desc">{t("privacy_policy.desc")}</Fragment>
		</Sectionhead>

		<div class="py-24 sm:py-32">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none">
					<h2>{t("privacy_policy.scope.title")}</h2>
					<p>{t("privacy_policy.scope.desc")}</p>
					<h2>{t("privacy_policy.collection.title")}</h2>
					<p>{t("privacy_policy.collection.desc")}</p>

					<h2>{t("privacy_policy.protection.title")}</h2>
					<p>{t("privacy_policy.protection.desc")}</p>

					<h2>{t("privacy_policy.link.title")}</h2>
					<p>{t("privacy_policy.link.desc")}</p>

					<h2>{t("privacy_policy.third_part.title")}</h2>
					<p>{t("privacy_policy.third_part.desc")}</p>

					<p>{t("privacy_policy.third_part.example")}</p>

					<h2>{t("privacy_policy.coockie.title")}</h2>
					<p>{t("privacy_policy.coockie.desc")}</p>

					<h2>{t("privacy_policy.policy.title")}</h2>
					<p>{t("privacy_policy.policy.desc")}</p>
				</div>
			</div>
		</div>
	</Container>
</Layout>
