---
import Link from '@components/ui/link.astro';
import { localizePath } from 'astro-i18next';
import { t } from 'i18next';
import LanguageSelector from '@components/languageselector.astro';
import ThemeSelector from '@components/themeselector.vue';
import menu from '@config/menu.json';
import Logo from '@components/Logo.astro';

export const menuitems = menu.main;
//alpine.js
---

<script is:inline>
    document.addEventListener('astro:page-load', () => {
        const button = document.querySelector('.hamburger');
        const nav = document.querySelector('.navbar');
        button?.addEventListener('click', () => {
            if (nav.classList.contains('max-h-0')) {
                // 展开导航
                nav.classList.remove('max-h-0');
                nav.classList.add('max-h-screen'); // 你可能需要根据实际内容调整这个值
            } else {
                // 收起导航
                nav.classList.remove('max-h-screen');
                nav.classList.add('max-h-0');
            }
        });
    });
</script>
<header
    class="shadow-md bg-white dark:bg-black flex flex-col px-4 py-2 w-full fixed top-0 md:items-center md:justify-between md:flex-row md:px-6 md:py-2 lg:px-8 lg:py-4 z-10"
>
    <div class="w-full flex flex-col md:flex-row items-center justify-between max-w-screen-xl mx-auto">
        <div class="flex justify-between items-center w-full">
            <Logo />
            <div class="hamburger inline-block md:hidden">
                <input class="checkbox" type="checkbox" />
                <svg fill="none" viewBox="0 0 50 50" height="30" width="30">
                    <path class="lineTop line" stroke-linecap="round" stroke-width="4" stroke="black" d="M6 11L44 11"
                    ></path>
                    <path stroke-linecap="round" stroke-width="4" stroke="black" d="M6 24H43" class="lineMid line"
                    ></path>
                    <path stroke-linecap="round" stroke-width="4" stroke="black" d="M6 37H43" class="lineBottom line"
                    ></path>
                </svg>
            </div>
        </div>
        <nav
            class="navbar duration-500 max-h-0 overflow-hidden w-full text-center flex flex-col md:max-h-screen md:mt-0 md:flex-row md:items-center md:pb-0 lg:pl-8"
        >
            <div
                class="flex flex-col text-center gap-2 pt-5 md:pt-0 md:w-full md:justify-center md:items-center md:flex md:flex-row md:mx-auto"
            >
                {
                    menuitems.map(item => (
                        <Link href={localizePath(item.path)} style="hover" size="lg" data-path={item.path}>
                            {t(item.title)}
                        </Link>
                    ))
                }
            </div>
            <div class="mt-4 sm:mx-auto md:mt-0 flex flex-col md:flex-row items-center gap-4 mb-0">
                <ThemeSelector client:load />
                <LanguageSelector
                    showFlag={false}
                    class="appearance-none py-1 px-2 rounded bg-slate-100 dark:bg-stone-950"
                />
            </div>
        </nav>
    </div>
</header>
