---
import { Icon } from "astro-icon";
import config from '@config/config.json';

const { theme_switcher }: { theme_switcher: boolean } = config.settings;
//alpine.js
---
<template x-if={theme_switcher}>
<div
	class="mx-auto flex items-center pl-2 rounded-md text-sm font-semibold text-center transition bg-white dark:bg-stone-950 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 border outline-2 outline-offset-2 border-gray-300 text-gray-700 hover:border-gray-400 active:bg-gray-100 dark:active:bg-stone-950">
	<Icon name="fluent:dark-theme-20-filled" class="w-5 dark:text-white" />
	<select
		x-data="{
				theme: localStorage.theme || 'light',
				updateDocumentClassTheme: function() {
					if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
						document.documentElement.classList.add('dark');
					} else {
						document.documentElement.classList.remove('dark');
					}
				},
				switchTheme: function (newValue) {
					if (newValue == 'dark') {
						localStorage.theme = 'dark';
					} else if (newValue == 'light') {
						localStorage.theme = 'light';
					} else {
						localStorage.removeItem('theme');
					}
					this.updateDocumentClassTheme();
				},
			}"
		name="theme-selector"
		id="theme-selector"
		class="focus:ring-transparent dark:text-white bg-white focus:outline-none border-none appearance-none cursor-pointer dark:bg-stone-950 rounded-md pl-3 pr-7 py-1.5"
		x-init="updateDocumentClassTheme()"
		x-model="theme"
		@change="switchTheme($event.target.value)">
		<option value="system">System</option>
		<option value="dark">Dark</option>
		<option value="light">Light</option>
	</select>
</div>

</template>

